{%extends 'layout.html'%}
{%block title%}{{title}}{%endblock%}

{%load static%}
{%block body%}



<div class="destinationImage">

    <img class="destinationListMain" src="/media/{{main_image.image_path}}">
    <div class="centeredListMain">
    <h1>{{title}}</h1>
  
        
    </div>
  

  


</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <h1>Places To See ({{title}})</h1>
        </div>
    </div>

</div>


<div class="container">
    <div class="flex-images">

    {%for destination in destinations%}
        <a href="{% url 'specificPlace' destination.0.sno %}">
            <div class="my-4 mx-3">
                <div class="card">
                    <img class="destinationList" src="/media/{{destination.1.image_url}}">
                    <div class="centeredList my-5">
                        <h1>{{destination.0.name}}</h1>
                        <p>Learn More</p>
                    </div>
                </div>
            </div>
       </a>
       {%endfor%}
    </div>
  
  
</div>

    



{%endblock%}
{%block css%}

<link rel="stylesheet" href="{% static 'css/category.css' %}">
<link rel="stylesheet" href="{% static 'css/background-image.css' %}">
{%endblock%}